.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title-of-page{
  display: flex;
  justify-content: center;
}

.faq{
  color: var(--darkGreen);
  padding: 10px;
}

.about-bar{
  box-shadow: 5px 5px #1717173c;
}

.about-name:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}



.accordion .accordion-button:focus {
  box-shadow: none;
}

.accordion .accordion-button:not(.collapsed) {
  color: #000; 
  background-color: #fff; 
}

.accordion .accordion-button {
  color: #000;
  background-color: #fff;
}

.accordion .accordion-button::after {
  filter: invert(0); 
}










/* .about-container {
    padding: 2rem 0;
  }
  
  .about-container h1 {
    color: #2c5e2e;
    margin-bottom: 1rem;
  }
  
  .about-container h2 {
    color: #2c5e2e;
    margin: 2rem 0 1rem;
  }
  
  .about-container p {
    margin-bottom: 1rem;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #d4e6ed;
    color: #2c5e2e;
  }
  
  .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(44, 94, 46, 0.25);
  }

   */