.navbar,
.navbar-default {
    padding: 0.5rem;
    padding-left: 1rem !important;
    background-color: var(--beige) !important;
}

.nav-link{
    color: var(--green) !important;
}

.nav-link:focus,
.nav-link:active,
.nav-link:hover{
    color: var(--darkGreen) !important;
}

.logo {
    width: 2.25rem;
}