.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.user-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    background-color: var(--green);
    border-radius: 10px;
    padding: 15px;
}

.user-list {
  width: 100%;
}

.user-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem;
    background-color: var(--green);
    width: 100%;
}

.user-title{
    margin: 30px;
    font-size: 3rem
}

.user-profile-pic{
    width: 150px;
    height: 150px;
}

.user-accordion-body{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}
